In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.tsa.ar_model import AutoReg
from statsmodels.tsa.arima.model import ARIMA
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error
from math import sqrt
import pandas_ta as ta
from arch import arch_model
import numpy as np
from ib_insync import *
from collections import deque
from enum import Enum
import datetime
import logging
import math
util.startLoop()

In [20]:
"""from chat-GPT"""
import ib_insync
import pandas as pd

# Connect to the Interactive Brokers TWS/IB Gateway
ib = ib_insync.IB()
ib.connect('127.0.0.1', 7497, 3)

# Define the assets to be traded
# assets = ['AAPL', 'GOOG', 'MSFT', 'FB']
assets = ['NQ', 'ES']

# Define the moving average window
window = 5

# Get the historical data for the assets
df = pd.DataFrame()
for asset in assets:
#     contract = ib_insync.Stock(asset, 'SMART', 'USD')
    contract = ib_insync.Future(asset,  '20230317', 'CME')
    bars = ib.reqHistoricalData(contract, endDateTime='', durationStr='6 M', barSizeSetting='1 day', whatToShow='TRADES', useRTH=True)
    df[asset] = [bar.close for bar in bars]

# Calculate the moving average for each asset
for asset in assets:
    df[f"{asset}_MA_{window}"] = df[asset].rolling(window=window).mean()

# Buy and sell logic
for asset in assets:
    # Buy when the price crosses above the moving average
    if df[asset].iloc[-1] > df[f"{asset}_MA_{window}"].iloc[-1] and df[asset].iloc[-2] < df[f"{asset}_MA_{window}"].iloc[-2]:
        print(f"Buy {asset}")
    
    # Sell when the price crosses below the moving average
    elif df[asset].iloc[-1] < df[f"{asset}_MA_{window}"].iloc[-1] and df[asset].iloc[-2] > df[f"{asset}_MA_{window}"].iloc[-2]:
        print(f"Sell {asset}")
    else:
        print('none')

# Disconnect from the Interactive Brokers TWS/IB Gateway
ib.disconnect()

none
none

In [17]:
df

           NQ       ES   NQ_MA_50  ES_MA_50
0    13379.00  4187.75        NaN       NaN
1    13227.00  4170.00        NaN       NaN
2    13587.00  4255.25        NaN       NaN
3    13506.00  4255.25        NaN       NaN
4    13772.00  4327.25        NaN       NaN
..        ...      ...        ...       ...
118  12060.50  4067.75  11565.535  3969.555
119  12221.00  4084.00  11572.920  3971.255
120  11988.75  4039.75  11572.225  3971.390
121  12119.25  4085.75  11577.475  3973.070
122  12505.25  4142.50  11591.025  3976.150

[123 rows x 4 columns]

In [5]:
ib = IB()
ib.connect('127.0.0.1', 7497, 2)

In [2]:
futures = [Future('NQ', '20230317', 'CME'), Future('ES', '20230317', 'CME')]

In [9]:
duration = '180 D'
barSize = '1 day'

df = pd.DataFrame()

for contract in futures:
    bars = ib.reqHistoricalData(
        contract, endDateTime='', durationStr=duration,
        barSizeSetting=barSize, whatToShow='MIDPOINT', useRTH=True)
    
    df = util.df(bars)
    display(df.tail(20))

,date,open,high,low,close,volume,average,barCount
138,2023-01-04,11033.875,11067.625,10863.375,10983.500,-1.0,-1.0,-1
139,2023-01-05,10923.000,10927.250,10804.875,10837.250,-1.0,-1.0,-1
140,2023-01-06,10891.125,11165.625,10766.375,11108.375,-1.0,-1.0,-1
141,2023-01-09,11199.750,11385.375,11160.875,11184.375,-1.0,-1.0,-1
142,2023-01-10,11142.875,11288.875,11120.750,11281.125,-1.0,-1.0,-1
143,2023-01-11,11323.250,11479.125,11291.000,11475.250,-1.0,-1.0,-1
144,2023-01-12,11491.125,11574.875,11311.250,11521.750,-1.0,-1.0,-1
145,2023-01-13,11425.250,11619.500,11408.750,11601.000,-1.0,-1.0,-1
146,2023-01-17,11598.625,11684.875,11549.750,11623.125,-1.0,-1.0,-1
147,2023-01-18,11694.750,11759.250,11468.125,11482.250,-1.0,-1.0,-1
148,2023-01-19,11407.125,11454.375,11308.625,11393.250,-1.0,-1.0,-1
149,2023-01-20,11428.875,11686.625,11383.250,11677.375,-1.0,-1.0,-1
150,2023-01-23,11703.875,11982.875,11672.000,11935.375,-1.0,-1.0,-1
151,2023-01-24,11859.625,12009.625,11838.375,11971.625,-1.0,-1.0,-1
152,2023-01-25,11712.625,11917.250,11604.500,11873.625,-1.0,-1.0,-1
153,2023-01-26,12017.625,12112.875,11904.500,12059.625,-1.0,-1.0,-1
154,2023-01-27,12047.000,12308.125,12041.625,12221.125,-1.0,-1.0,-1
155,2023-01-30,12082.875,12143.125,11960.375,11989.125,-1.0,-1.0,-1
156,2023-01-31,11974.750,12156.125,11969.375,12119.375,-1.0,-1.0,-1
157,2023-02-01,12144.125,12524.000,12055.625,12505.875,-1.0,-1.0,-1

,date,open,high,low,close,volume,average,barCount
160,2023-01-04,3868.875,3896.375,3836.625,3871.250,-1.0,-1.0,-1
161,2023-01-05,3852.625,3853.625,3822.375,3833.000,-1.0,-1.0,-1
162,2023-01-06,3861.625,3928.625,3829.125,3913.625,-1.0,-1.0,-1
163,2023-01-09,3939.625,3973.375,3909.875,3913.500,-1.0,-1.0,-1
164,2023-01-10,3907.375,3943.625,3897.125,3941.125,-1.0,-1.0,-1
165,2023-01-11,3957.500,3992.375,3948.625,3992.250,-1.0,-1.0,-1
166,2023-01-12,4000.000,4018.375,3957.375,4002.875,-1.0,-1.0,-1
167,2023-01-13,3968.375,4024.125,3965.875,4019.125,-1.0,-1.0,-1
168,2023-01-17,4018.125,4035.125,4002.875,4009.125,-1.0,-1.0,-1
169,2023-01-18,4021.875,4033.375,3943.875,3945.875,-1.0,-1.0,-1
170,2023-01-19,3923.125,3940.375,3901.625,3920.375,-1.0,-1.0,-1
171,2023-01-20,3929.875,3990.375,3912.375,3988.125,-1.0,-1.0,-1
172,2023-01-23,3996.375,4056.625,3986.375,4036.875,-1.0,-1.0,-1
173,2023-01-24,4017.875,4047.375,4005.375,4038.875,-1.0,-1.0,-1
174,2023-01-25,3987.375,4039.375,3963.375,4029.375,-1.0,-1.0,-1
175,2023-01-26,4058.875,4076.875,4027.375,4067.625,-1.0,-1.0,-1
176,2023-01-27,4063.625,4109.125,4061.625,4084.125,-1.0,-1.0,-1
177,2023-01-30,4054.375,4077.875,4029.625,4040.000,-1.0,-1.0,-1
178,2023-01-31,4036.875,4091.125,4033.375,4085.750,-1.0,-1.0,-1
179,2023-02-01,4077.875,4163.125,4048.750,4142.625,-1.0,-1.0,-1